.header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.411);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    .logo{
        text-align: start;
        margin: 10px;
        animation-name: animacion;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-delay: 0s; 
        img {
            width: 100px;
        }   
    }
    .titulo{
        font-size: 1.2rem;
        margin: 30px auto;
        padding: 10px auto;
        
    }
    @keyframes animacion{
        0%{
            transform: rotateY(0deg);
        }
        25%{
            transform: rotateY(90deg);
        }
        50%{
            transform: rotateY(0deg);
        }
        75%{
            transform: rotateY(90deg);
        }
        100%{
            transform: rotateY(0deg);
        }
    }       
}

 